$primary: #0c5599;

.sort-icon {
    font-size: 0.8em;
    /* Zmniejszenie rozmiaru ikon */
    margin-left: 0.5em;
    opacity: 0.7;
}

.sort-icon.active {
    opacity: 1;
    font-weight: bold;
}

@import "../node_modules/bootstrap/scss/bootstrap";