@import './variables';

table {
    thead {
        th {
            text-align: left;
            position: relative;
            padding-right: $padding-right;

            &[data-sort="id"] {
                min-width: 3em;
            }

            .sort-icon {
                position: absolute;
                right: 0.5em;
                top: 50%;
                transform: translateY(-50%);
                font-size: $icon-size;
                pointer-events: none;

                &.active {
                    font-weight: $active-icon-weight;
                }
            }
        }
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:checked+.slider:before {
        transform: translateX(14px);
    }
}

.hidden {
    display: none !important;
}

$default-arrow-color: rgb(112, 183, 255);
$active-arrow-color: black;

.sortable {
    position: relative;

    .sort-icon::after {
        font-size: 12px;
        color: $default-arrow-color; // Szary kolor strzałki w stanie domyślnym
        margin-left: 5px;
        content: '\2B06'; // Domyślnie strzałka skierowana w górę (⬆️)
        transition: color 0.2s ease, transform 0.2s ease;
    }

    &.active {
        .sort-icon::after {
            color: $active-arrow-color; // Aktywny kolor strzałki
        }

        &.asc .sort-icon::after {
            content: '\2B06'; // Strzałka w górę (⬆️)
            transform: rotate(0deg);
        }

        &.desc .sort-icon::after {
            content: '\2B07'; // Strzałka w dół (⬇️)
            transform: rotate(0deg);
        }
    }

    &:hover .sort-icon::after {
        color: $active-arrow-color; // Zmiana koloru na czarny podczas najechania kursorem
    }
}