/* Usuń wbudowaną walidację dla `:valid` i `:invalid` */
.was-validated .form-control:valid,
.form-control.is-valid {
    background-image: none;
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none;
}

/* Dodaj własne ikony lub efekty wizualne, jeśli chcesz */
.form-control.is-valid {
    border-color: #198754;
    /* Zielony */
}

.form-control.is-invalid {
    border-color: #dc3545;
    /* Czerwony */
}